
	.container {  
	   display: grid;  
	    padding: 0;
	  margin: 1vw;
	  width: 115vw;
	    grid-template-columns: repeat(auto-fit, 1fr);  
	    grid-template-rows: 640px;  
	      border-style: solid;
	  border-color: red;
	 align-items: center;
	}
	.card {
	  background-color: blue;
	  padding-top: 0px;
	  color: white;
	  font-weight:bold;
	  font-size:14px;
	  padding: 1%;
	  height: 2.5rem;

	}

	.cards {
	  max-width: 1500px;
	  padding-top: 0px;
	  display: grid;
	  grid-gap: 1rem;
	  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	  align-items: center;

	}

	.board {
	  /*background-color: blue;*/
	  padding-top: 0px; 
	  /*color: white;*/
	  font-family: Arial, Helvetica, sans-serif;
	  font-weight:bold;
	  font-size:15px;
	  height: 3rem;

	}

	.boards {
	  max-width: 1500px;
	  padding-top: 0px;
	  display: grid;
	  grid-gap: 0.5rem;
	  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	  align-items: center;

	}

	.mybutton{
		color:white;
        background-color:blue;
        font-weight:bold;
	  	font-size:14px;
        vertical-align: center;
        border-radius: 10px;
	}

	.accordion {
      background-color: #eee;
      color: #444;
      cursor: pointer;
      padding: 18px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      font-size: 15px;
      transition: 0.4s;
    }

    .active, .accordion:hover {
      background-color: #ccc;
    }

    .accordion:after {
      content: '\002B';
      color: #777;
      font-weight: bold;
      float: right;
      margin-left: 5px;
    }

    .active:after {
      content: "\2212";
    }

    .panel {
      padding: 0 18px;
      background-color: white;
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out;
    }



.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 270px;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #f1f1f1;
}

.sidepanel .closebtn {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 36px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color:#444;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}

.sidenav {
  height: 100%;
  width: 11%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}


  .main {
  margin-left: 11%; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}



.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 0.5s;
  padding-top: 20px;
}

.sidebar a {
  padding: 0px 0px 5px 8px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}


.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
